.button-districts::after{
  background-color: var(--color-svg);
  mask:url(../../assets/icons/arrow.svg) no-repeat center;
  -webkit-mask:url(../../assets/icons/arrow.svg) no-repeat center;
  transition: 1s ;
  width: 12px;
  height:10px;
  content: "";
}

input[type="districts"]::placeholder{
  color: var(--color-text-secondary);
}

input[type="districts"]{
  border: none;
  background: none;
}

.districts-area{
  position: absolute;
  z-index: 1000;  
  display: flex;
  flex-direction: column;
  gap:0.2rem;
  width: 16.5rem;
  min-height: 1%;
  max-height: 60%;
  margin-top: 3.7rem;
  overflow: auto;
  padding: 0 0.5rem;
  border-radius: var(--radius-medium);
  background-color: var(--color-bg-primery);
  box-shadow: var(--drop-shadow);  
}

.districts-item{
  cursor: pointer;
  padding: 0.5rem 0;
  box-sizing: border-box;
  border-bottom:1px solid var(--color-border-primery);
  font-weight: var(--medium);
  font-size: var(--text-sm);
}

.districts-item:hover,.active-district{
  color: var(--color-active);
  border-bottom:1px solid var(--color-active);  
  font-size: var(--text-sm);
}

.active-district::after{
  position: absolute;
  background-color: var(--color-active);
  mask:url(../../assets/icons/check.svg) no-repeat center;
  -webkit-mask:url(../../assets/icons/check.svg) no-repeat center;
  transition: 1s ;
  left: 90%;
  width: 12px;
  height:10px;
  content: "324";
}