
.radiobox,.checkbox {
  height: 6rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap:12px ;
}

input[type=radio], input[type="checkbox"]{

  position: relative;

  height: 9px;
  width: 9px;

  transition: all 0.15s ease-out 0s;
  cursor: pointer;
  display: inline-block;
  outline: none;

  border: 1px solid var(--color-border-secondary);
  border-radius: var(--radius-medium);
  margin-right: 15px;
  padding: 0.5em;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;

}
input[type=radio]:hover , input[type="checkbox"]:hover{
  background: var(--color-active);
}
input[type=radio]:checked, input[type="checkbox"]:checked {
  background-color: var(--color-active);
  background-image: url('../../assets/icons/check.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 9px;
  height: 9px;
  content: "a";
}



input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: #C4C4C4;
  outline: none;
}

/* for chrome/safari */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #F2766A;
  cursor: pointer;
  border-radius: 100%;
}

/* for firefox */
input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #F2766A;
  cursor: pointer;
  border-radius: 100%;
}
